.navbar {
    background-color: #2495ff;
    text-align: center;
    font-weight: 500;
}
.navbar .container {
    display: block;
}
.navbar-brand {
    color: #fff;
}
.card-title {
    line-height: 38px;
    margin: 0 12px;
}